[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/volk"]
	path = extern/volk
	url = https://github.com/zeux/volk.git
[submodule "extern/vma"]
	path = extern/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/vulkan_headers"]
	path = extern/vulkan_headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/DLSS"]
	path = extern/DLSS
	url = https://github.com/NVIDIA/DLSS.git
[submodule "extern/nrd"]
	path = extern/nrd
	url = https://github.com/NVIDIA-RTX/NRD.git
[submodule "extern/FidelityFX-SDK"]
	path = extern/FidelityFX-SDK
	url = https://github.com/Interstellarss/FidelityFX-SDK.git
[submodule "extern/sharc"]
	path = extern/sharc
	url = https://github.com/NVIDIA-RTX/SHARC.git
[submodule "extern/minizip-ng"]
	path = extern/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
[submodule "extern/xess"]
	path = extern/xess
	url = https://github.com/intel/xess.git
[submodule "extern/tinyexpr"]
	path = extern/tinyexpr
	url = https://github.com/Ljiong201108/tinyexpr.git
